* {
    font-family: sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-inline: 75px;
    padding-block: 12px;
}
header > div > img {
    height: 30px;
    width: 30px;
}
header div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
header > div:nth-child(1) > p:nth-child(2) {
    border-right: 2px solid white;
    padding-right: 8px;
}
header > div:nth-child(2) > a:nth-child(1) {
    background-color: #191C1B;
    padding: 13px;
    border-radius: 12px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}
header > div:nth-child(2) > a:nth-child(2) {
    background-color: #4C5FD5;
    padding-block: 13px;
    padding-inline: 23px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
}
main > section:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 300px;
    width: 100%;

    background-color: #dadbf1;
}
main > section:nth-child(1) > form > button > img{
    height: 20px;
    width: 20px;
    background: transparent;
    
}
main > section:nth-child(1) > form {
    background-color: white;
    border: 1px solid black;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 20px 11px;
    margin: 0;
}
main > section:nth-child(1) > form > input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}
main > section:nth-child(1) > form > button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}
::placeholder {
    font-size: 17px;
}
main > section:nth-child(1) > h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}
main > section:nth-child(2) {
    margin: 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
main > section:nth-child(2) > div {
    display: flex;
    gap: 50px;
    
    > div {
        display: flex;
        gap: 25px;
        flex: 1;

    }

}
main > section:nth-child(2) > div > div > img {
    height: 100px;
    width: 100px;
}
main > section:nth-child(2) > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > h2 {
        margin: 0;
    }

    > a {
        color: blue;
        text-decoration: none;
    }

    > p {
        opacity: 0.7;
    }

}

footer {
    height: 340px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    gap: 45px;

    padding: 50px 140px;

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }
        > h3 {
            color: white;
            font-size: 24px;
            line-height: 28px;
            margin: 0;
            margin-bottom: 20px;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            > a {
                color: white;
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
            }
            > h3 {
                color: white;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
                margin-bottom: 20px;
            }
        }
        > img {
            height: 40px;
            width: 40px;
        }
        > p {
            color: white;
            margin: 0;
            font-size: 20px;
            line-height: 28px;
        }
    }
}
footer > div:last-child {
    margin-top: auto;
    margin-left: auto;
}
footer > div > div:last-child {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    > a {
        margin: 0;
    }
    > h3 {
        margin: 50px 0 0 0;
    }
}
a:hover {
    text-decoration: underline;
}
.help {
    color: white;
    background-color: #4C5FD5;
    border-radius: 30px;

    position: fixed;
    bottom: 14px;
    left: 90%;
    padding: 8px 40px;

    display: flex;

    cursor: pointer;

    > a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
}





